/* @media (min-width: 992px); */

.navbar-dark .navbar-brand{
   /* padding: 100px; */
    font-size: 20px;
   
    
    
}
.navbar-dark .navbar-brand:hover{
    background:#D133FF;
}

.navbar-expand-lg .navbar-nav{
    font-size: 17px;
    
}
.navbar-expand-lg .nav-item:hover{
    background: #ff8a33;
}

.carousel-inner{
    height: 500px;
    width: 200px;
    margin-top: 50px;
}

.btn-group:hover{
    text-decoration: violet;
}

.btn-group:hover{
   background:  #f6ff33;
}

.text-muted:hover{
    background:  pink 
}
.hero{
    background-color:#f6ff33;
    margin-top: 70px;
}

.container-4{
    background:#ff8a33;
}
#contact{
   height: 300px;
}

#contact{
    height: 300px;
}
#contact h6{
    color: blue ;
}

footer{
    text-align: center;
}


.container .list-group{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
  
    
}